<div class="lead">
    You need to open the "Profile details" section by clicking System ->
    <a href="#">
        <i aria-hidden="true" class="bi bi-gear"></i>
        {{ 'Settings'|trans }}
    </a>
    in the navigation menu.
</div>
