<div>
    <h6><b>Selecting Time zone</b></h6>
    After registration you will not have selected time zone. This step is essential, because system can not send you reminders on time
    if you don't provide a time zone information. Now please click on <button class="btn btn-success btn-sm"><i aria-hidden="true" class="bi bi-geo-alt"></i> {{ 'Find time zone'|trans }}</button>.
    System will try to autodetect your time zone. You will have a popup message in your browser. System asks for permission to use geolocation
    to detect your time zone.<br><br>
    If for some reason system is not able to detect your time zone, please select it. System displays time zones in format
    "Continent/City" where "City" is capital of your country, state or bigger city in your region.<br><br>
    For more information about time zones please check <a href="https://en.wikipedia.org/wiki/Time_zone" rel="nofollow" target="_blank">Wikipedia article</a>.
</div>
