<div>
    You need to provide Minutes devoted. Also you can change date - in case if you forgot to complete your yesterdays routine. You can also provide a comment.
    When you click on <button class="btn btn-primary btn-sm"><i aria-hidden="true" class="bi bi-save"></i> {{ button_label|default('Save'|trans) }}</button>
    your completed routine will be created.
</div>
