<div class="lead">
    You can visit routine "Completed routines" section by clicking
    <a href="#">
        <i aria-hidden="true" class="bi bi-arrow-repeat"></i>
        {{ 'Routines'|trans }}
    </a>
    in navigation menu.
</div>
