<div>
    Goals are important part of this system. With goals you can realize some more specific tasks in your routines or projects.
    To add new Goal you need to click on <button class="btn btn-primary btn-sm"><i class="fas fa-bullseye"></i> {{ 'Create a goal'|trans }}</button>.
</div>
