<div>
    You can edit each goal created by yourself. You can change it's name, routine, project and description. You can also change it's completed state.
    When you click on <button class="btn btn-primary btn-sm"><i aria-hidden="true" class="bi bi-save"></i> {{ button_label|default('Update'|trans) }}</button>
    your goal will be updated.
</div>
