<div class="lead">
    You need to provide goal name and select routine. You can assign goal to particular project. You can
    provide a description. When you click on
    <button class="btn btn-primary btn-sm">
        <i aria-hidden="true" class="bi bi-save"></i>
        {{ button_label|default('Save'|trans) }}
    </button>
    your goal will be created.
</div>
