<div class="lead">
    You need to open the "Notes" section by clicking
    <a href="#">
        <i aria-hidden="true" class="bi bi-pen"></i>
        {{ 'Notes'|trans }}
    </a>
    in the navigation menu.
</div>
