<div>
    You can edit each note created by yourself. You can change it's title and content.
    When you click on <button class="btn btn-primary btn-sm"><i class="fas fa-save"></i> {{ button_label|default('Update'|trans) }}</button>
    your note will be updated.
</div>
