<div class="lead">
    You need to provide a note title and content. You can assign a note to a particular routine.
    When you click on
    <button class="btn btn-primary btn-sm">
        <i aria-hidden="true" class="bi bi-save"></i>
        {{ button_label|default('Save'|trans) }}
    </button>
    your note will be created.
</div>
