<div class="lead">
    Notes are important part of this system. With notes you can clarify your thoughts and feelings.
    Describing problems allows you to solve them more effectively. To add new Note you need to click on
    <button class="btn btn-primary btn-sm">
        <i aria-hidden="true" class="bi bi-pen"></i>
        {{ 'Create a note'|trans }}
    </button>.
</div>
