<div class="lead">
    You need to open the "Projects" section by clicking
    <a href="#">
        <i aria-hidden="true" class="bi bi-tools"></i>
        {{ 'Projects'|trans }}
    </a>
    in the navigation menu.
</div>
