<div>
    You need to provide project name. You can also provide project description.
    When you click on <button class="btn btn-primary btn-sm"><i class="fas fa-save"></i> {{ button_label|default('Save'|trans) }}</button>
    your project will be created.
</div>
