<div class="lead">
    Projects are important part of this system. Projects allows you to work on more complicated problems.
    You can divide a problem into simpler, easier to achieve goals. To add new Project you need to click on
    <button class="btn btn-primary btn-sm">
        <i aria-hidden="true" class="bi bi-tools"></i>
        {{ 'Create a project'|trans }}
    </button>.
</div>
