<div class="lead">
    You can edit each project created by yourself. You can change its name and description.
    You can also mark the project as completed. When you click on
    <button class="btn btn-primary btn-sm">
        <i aria-hidden="true" class="bi bi-save"></i>
        {{ button_label|default('Update'|trans) }}
    </button>
    your project will be updated.
</div>
