<div>
    You can edit each reminder created by yourself. You can change it's hour, type, enabled state etc.
    When you click on <button class="btn btn-primary btn-sm"><i class="fas fa-save"></i> {{ button_label|default('Update'|trans) }}</button>
    your reminder will be updated.
</div>
