<div>
    You need to specify Hour on which your routine should start. Using Minutes before parameter you specify how many minutes before the start of the routine you want to receive reminder.
    With Type parameter you can choose in what day of the week you want to receive a reminder about routine. For "Daily exercises" routine reminder choose "Daily" type.
    Now you need to choose if you want to receive reminder in form of email/SMS and if you want to have there a motivational message. By default created reminders are enabled.
    When you click on <button class="btn btn-primary btn-sm"><i aria-hidden="true" class="bi bi-save"></i> {{ button_label|default('Save'|trans) }}</button>
    your reminder will be created.
</div>
