<div class="lead">
    You can visit the routine "Reminders" section by clicking
    <a href="#">
        <i aria-hidden="true" class="bi bi-arrow-repeat"></i>
        {{ 'Routines'|trans }}
    </a>
    in the navigation menu.
</div>
