<div class="lead">
    Click
    <button class="btn btn-primary btn-sm">
        <i aria-hidden="true" class="bi bi-eye"></i>
        {{ 'Show'|trans }}
    </button>
    next to name of routine that you want to select.
</div>
