<div>
    You can edit each reward created by yourself. You can change it's title, type, required number of completions and description.
    When you click on <button class="btn btn-primary btn-sm"><i class="fas fa-save"></i> {{ button_label|default('Update'|trans) }}</button>
    your reward will be updated.
</div>
