<div>
    You need to provide reward title, type and required number of completions. You can assign reward to particular routine. You can also provide additional description.
    When you click on <button class="btn btn-primary btn-sm"><i class="fas fa-save"></i> {{ button_label|default('Save'|trans) }}</button>
    your reward will be created.
</div>
