<div class="lead">
    You need to open the "Rewards" section by clicking
    <a href="#">
        <i aria-hidden="true" class="bi bi-award"></i>
        {{ 'Rewards'|trans }}
    </a>
    in the navigation menu.
</div>
