<div class="lead">
    Routines are the core of this system. You can organize your life activities around them. In the beginning,
    you may limit yourself to two routines. For example "Daily exercises" and "Work". Later when you will
    be more familiar with the whole system you will add other routines that you would like to train. For
    example, you can add a routine like "Nightwork" where you will perform things like writing or
    "Friday cleaning" which will be your home cleaning routine. To add a new Routine you need to click on
    <button class="btn btn-primary btn-sm">
        <i aria-hidden="true" class="bi bi-arrow-repeat"></i>
        {{ 'Create a routine'|trans }}
    </button>.
</div>
