<div>
    You need to provide a name of routine. Lets start with "Daily exercises". Type of routine should be "Sport". By default created routines are enabled.
    If you will disable it you will not receive any reminders. You can also provide an optional description of the routine if you want - for excercises it could be
    something like "My daily serie of push-ups".
    When you click on <button class="btn btn-primary btn-sm"><i class="fas fa-save"></i> {{ button_label|default('Save'|trans) }}</button>
    your routine will be created.
</div>
