<div>
    Routines are core of this system. You can organize your life activities around them. At the begining you may limit yourself to two routines.
    For example "Daily exercises" and "Work". Later when you will be more familiar with whole system you will add other routines that you would like
    to train. For example you can add routine like "Night work" where you will perform things like writing or "Friday cleaning" that will
    be your home cleaning routine. To add new Routine you need to click on <button class="btn btn-primary btn-sm"><i class="fas fa-sync"></i> {{ 'Create a routine'|trans }}</button>.
</div>
