{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="card bg-dark text-white col-md-10 offset-md-1">
            <div class="card-body">
                <h5 class="card-title">About</h5>
                <p class="card-text">About</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ 'About'|trans }}{% endblock %}
