{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="card bg-dark text-white col-md-10 offset-md-1">
            <div class="card-body">
                <h5 class="card-title">
                    About
                </h5>
                <p class="card-text">
                    {{ 'Routines365'|trans }}
                    is a system that aims to help you to self improve.
                </p>
                <p class="card-text">
                    In the internet there is a long ongoing discussion about life goals and best ways how to achieve them. Some people argued that you need to be very persistent in pursuing your goals. Other people argued that you should not set goals, but use systems instead. They believe that only setting up proper system allows you to achieve your dreams.
                </p>
                <p class="card-text">
                    We are not going to prejudge who is right and take part in such discussions. All sides have some valid arguments.
                </p>
                <p class="card-text">
                    We are going to focus on providing you tool that will help you in achieving your dreams.
                </p>
                <h5 class="card-title">
                    What do we believe in?
                </h5>
                <p class="card-text">
                    You need to setup proper systems - we call them routines - and give yourself a regular time to do them. Regularity in carrying out tasks helps to improve the achieved results. It also helps to achieve goals.
                </p>
                <p class="card-text">
                    You need to create a short term goals that you will complete in your routines. But these goals should not have a deadlines. You should not demotivate yourself because you achieved goal in 9 days instead of 7.
                </p>
                <p class="card-text">
                    You need to organize your life projects. Create a list of goals that you will realize in routines.
                </p>
                <p class="card-text">
                    You need to self motivate yourself. Both small rewards and motivational quotes are good.
                </p>
                <p class="card-text">
                    We have build a system around these ideas. We will make sure that you receive a reminders about your routines. We will keep track things that you completed. We will show you your progress and make sure to motivate you.
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ 'About'|trans }}
{% endblock %}
