{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="card col-md-10 offset-md-1">
            <div class="card-body">
                <h1 class="card-title h3">
                    Changelog
                </h1>
                <hr>
                <div class="lead">
                    <b>
                        2021-02-23 - v6
                    </b>
                    <ul>
                        <li>
                            first public version
                        </li>
                        <li>
                            new motivational quotes
                        </li>
                        <li>
                            rewards for activity
                        </li>
                        <li>
                            various usability improvements
                        </li>
                        <li>
                            various language improvements
                        </li>
                    </ul>
                </div>
                <div class="lead">
                    <b>
                        2021-02-08 - v5
                    </b>
                    <ul>
                        <li>
                            fifth private version
                        </li>
                        <li>
                            two-factor authentication
                        </li>
                        <li>
                            dark theme improvements
                        </li>
                        <li>
                            new light theme
                        </li>
                        <li>
                            testimonials
                        </li>
                        <li>
                            various accessibility improvements
                        </li>
                        <li>
                            various emails improvements
                        </li>
                        <li>
                            various documentation improvements
                        </li>
                        <li>
                            various tutorial improvements
                        </li>
                        <li>
                            various usability improvements
                        </li>
                        <li>
                            various language improvements
                        </li>
                    </ul>
                </div>
                <div class="lead">
                    <b>
                        2021-01-22 - v4
                    </b>
                    <ul>
                        <li>
                            fourth private version
                        </li>
                        <li>
                            Efficiency 11 system
                        </li>
                        <li>
                            GDPR data export
                        </li>
                        <li>
                            know your tools tutorial
                        </li>
                        <li>
                            how to
                        </li>
                        <li>
                            surveys
                        </li>
                        <li>
                            various emails improvements
                        </li>
                        <li>
                            various documentation improvements
                        </li>
                        <li>
                            various usability improvements
                        </li>
                        <li>
                            various language improvements
                        </li>
                    </ul>
                </div>
                <div class="lead">
                    <b>
                        2020-12-29 - v3
                    </b>
                    <ul>
                        <li>
                            third private version
                        </li>
                        <li>
                            achievements
                        </li>
                        <li>
                            promotions
                        </li>
                        <li>
                            new motivational quotes
                        </li>
                        <li>
                            motivational emails to friends
                        </li>
                        <li>
                            monthly/weekly/annually statistics
                        </li>
                        <li>
                            various emails improvements
                        </li>
                        <li>
                            various usability improvements
                        </li>
                        <li>
                            various language improvements
                        </li>
                    </ul>
                </div>
                <div class="lead">
                    <b>
                        2020-12-02 - v2
                    </b>
                    <ul>
                        <li>
                            second private version
                        </li>
                        <li>
                            projects
                        </li>
                        <li>
                            contact form
                        </li>
                        <li>
                            new motivational quotes
                        </li>
                        <li>
                            various emails improvements
                        </li>
                        <li>
                            various usability improvements
                        </li>
                        <li>
                            various documentation improvements
                        </li>
                        <li>
                            various language improvements
                        </li>
                    </ul>
                </div>
                <div class="lead">
                    <b>
                        2020-10-27 - v1
                    </b>
                    <ul>
                        <li>
                            first private version
                        </li>
                        <li>
                            goals
                        </li>
                        <li>
                            invites
                        </li>
                        <li>
                            motivational quotes
                        </li>
                        <li>
                            notes
                        </li>
                        <li>
                            reminders
                        </li>
                        <li>
                            rewards
                        </li>
                        <li>
                            routines
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'Changelog'|trans }}
{% endblock %}
