{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="card bg-dark text-white col-md-10 offset-md-1">
            <div class="card-body">
                <h5 class="card-title">Contact</h5>
                <p class="card-text">
                    This project is owned by Event Horizon Labs LLP.<br>
                    Please contact us on email
                    <a href="&#109;&#097;&#105;&#108;&#116;&#111;&#058;&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#114;&#111;&#117;&#116;&#105;&#110;&#101;&#115;&#051;&#054;&#053;&#046;&#099;&#111;&#109;">&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#114;&#111;&#117;&#116;&#105;&#110;&#101;&#115;&#051;&#054;&#053;&#046;&#099;&#111;&#109;</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ 'Contact'|trans }}{% endblock %}
