{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="card col-md-10 offset-md-1">
            <div class="card-body">
                <h5 class="card-title">Contact</h5>
                <p class="card-text">
                    This project is owned by Event Horizon Labs LLP.<br>
                    Please contact us on email
                    <a href='&#109;ai&#108;t&#111;&#58;mi&#37;6&#51;ha&#108;&#64;&#101;ve&#37;6Et&#104;&#111;&#114;i%7A%&#54;Fnla%6&#50;s&#46;&#37;&#54;&#53;%7&#53;'>mich&#97;l&#64;&#101;&#118;entho&#114;izonlab&#115;&#46;&#101;u</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ 'Contact'|trans }}{% endblock %}
