{% extends 'frontend_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="card col-md-10 offset-md-1">
            <div class="card-body">
                <h1 class="card-title h3">
                    FAQ
                </h1>
                <hr>
                <p class="card-text">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        General
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <dl class="row">
                                        <dt class="col-sm-1">
                                            Q:
                                        </dt>
                                        <dd class="col-sm-11">
                                            Who is this app for?
                                        </dd>
                                        <dt class="col-sm-1">
                                            A:
                                        </dt>
                                        <dd class="col-sm-11">
                                            This app is for people who want to develop and maintain their routines.
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Security
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <dl class="row">
                                        <dt class="col-sm-1">
                                            Q:
                                        </dt>
                                        <dd class="col-sm-11">
                                            I've found a security issue. What should I do?
                                        </dd>
                                        <dt class="col-sm-1">
                                            A:
                                        </dt>
                                        <dd class="col-sm-11">
                                            Please <a href="{{ path('frontend_static_page_contact') }}">{{ 'contact'|trans }}</a> us.
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    {{ parent() }} - {{ 'FAQ'|trans }}
{% endblock %}
