<!DOCTYPE html>
<html>
    <head>
        {% block meta %}{% endblock %}
        <title>Routines365 {% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
