<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}{% endblock %}
        <title>{{ 'Routines365'|trans }} {% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
