{% extends 'landing_page_layout.html.twig' %}

{% block landing_page_content %}
    <div class="lead">
        <ol>
            <li class="mb-3">
                <blockquote class="blockquote">
                    <p class="mb-0">
                        "Recent research suggests that video game playing is associated with many cognitive benefits. However, little is known about the neural mechanisms mediating such effects, especially with regard to probabilistic categorization learning, which is a widely unexplored area in gaming research. Therefore, the present study aimed to investigate the neural correlates of probabilistic classification learning in video gamers in comparison to non-gamers. Subjects were scanned in a 3 T magnetic resonance imaging (MRI) scanner while performing a modified version of the weather prediction task. Behavioral data yielded evidence for better categorization performance of video gamers, particularly under conditions characterized by stronger uncertainty. Furthermore, a post-experimental questionnaire showed that video gamers had acquired higher declarative knowledge about the card combinations and the related weather outcomes. Functional imaging data revealed for video gamers stronger activation clusters in the hippocampus, the precuneus, the cingulate gyrus and the middle temporal gyrus as well as in occipital visual areas and in areas related to attentional processes. All these areas are connected with each other and represent critical nodes for semantic memory, visual imagery and cognitive control. Apart from this, and in line with previous studies, both groups showed activation in brain areas that are related to attention and executive functions as well as in the basal ganglia and in memory-associated regions of the medial temporal lobe. These results suggest that playing video games might enhance the usage of declarative knowledge as well as hippocampal involvement and enhances overall learning performance during probabilistic learning. In contrast to non-gamers, video gamers showed better categorization performance, independently of the uncertainty of the condition."
                    </p>
                    <footer class="blockquote-footer">
                        <cite title="Source Title">
                            <a href="https://www.sciencedirect.com/science/article/abs/pii/S016643281730390X" target="_blank">
                                Games people play: How video games improve probabilistic learning
                            </a>
                        </cite>
                    </footer>
                </blockquote>
            </li>
            <li class="mb-3">
                <blockquote class="blockquote">
                    <p class="mb-0">
                        "Memory skills strongly differ across the general population; however, little is known about the brain characteristics supporting superior memory performance. Here we assess functional brain network organization of 23 of the world’s most successful memory athletes and matched controls with fMRI during both task-free resting state baseline and active memory encoding. We demonstrate that, in a group of naive controls, functional connectivity changes induced by 6 weeks of mnemonic training were correlated with the network organization that distinguishes athletes from controls. During rest, this effect was mainly driven by connections between rather than within the visual, medial temporal lobe and default mode networks, whereas during task it was driven by connectivity within these networks. Similarity with memory athlete connectivity patterns predicted memory improvements up to 4 months after training. In conclusion, mnemonic training drives distributed rather than regional changes, reorganizing the brain’s functional network organization to enable superior memory performance."
                    </p>
                    <footer class="blockquote-footer">
                        <cite title="Source Title">
                            <a href="https://www.cell.com/neuron/fulltext/S0896-6273(17)30087-9" target="_blank">
                                Mnemonic Training Reshapes Brain Networks to Support Superior Memory
                            </a>
                        </cite>
                    </footer>
                </blockquote>
            </li>
            <li class="mb-3">
                <blockquote class="blockquote">
                    <p class="mb-0">
                        "Physical exercise can convey a protective effect against cognitive decline in ageing and Alzheimer’s disease. While the long-term health-promoting and protective effects of exercise are encouraging, it’s potential to induce neuronal and vascular plasticity in the ageing brain is still poorly understood. It remains unclear whether exercise slows the trajectory of normal ageing by modifying vascular and metabolic risk factors and/or consistently boosts brain function by inducing structural and neurochemical changes in the hippocampus and related medial temporal lobe circuitry—brain areas that are important for learning and memory. Hence, it remains to be established to what extent exercise interventions in old age can improve brain plasticity above and beyond preservation of function. Existing data suggest that exercise trials aiming for improvement and preservation may require different outcome measures and that the balance between the two may depend on exercise intensity and duration, the presence of preclinical Alzheimer’s disease pathology, vascular and metabolic risk factors and genetic variability."
                    </p>
                    <footer class="blockquote-footer">
                        <cite title="Source Title">
                            <a href="https://academic.oup.com/brain/article/139/3/662/2468800" target="_blank">
                                Can physical exercise in old age improve memory and hippocampal function?
                            </a>
                        </cite>
                    </footer>
                </blockquote>
            </li>
            <li class="mb-3">
                <blockquote class="blockquote">
                    <p class="mb-0">
                        "Although acute psychosocial stress can impact autobiographical memory retrieval, the nature of this effect is not entirely clear. One reason for this ambiguity is because stress can have opposing effects on the different stages of autobiographical memory retrieval. We addressed this issue by testing how acute stress affects three stages of the autobiographical memory retrieval – accessing, recollecting and reconsolidating a memory. We also investigate the influence of emotion valence on this effect. In a between-subjects design, participants were first exposed to an acute psychosocial stressor or a control task. Next, the participants were shown positive, negative or neutral retrieval cues and asked to access and describe autobiographical memories. After a three to four day delay, participants returned for a second session in which they described these autobiographical memories. During initial retrieval, stressed participants were slower to access memories than were control participants; moreover, cortisol levels were positively associated with response times to access positively-cued memories. There were no effects of stress on the amount of details used to describe memories during initial retrieval, but stress did influence memory detail during session two. During session two, stressed participants recovered significantly more details, particularly emotional ones, from the remembered events than control participants. Our results indicate that the presence of stress impairs the ability to access consolidated autobiographical memories; moreover, although stress has no effect on memory recollection, stress alters how recollected experiences are reconsolidated back into memory traces."
                    </p>
                    <footer class="blockquote-footer">
                        <cite title="Source Title">
                            <a href="https://www.nature.com/articles/s41598-018-26890-8" target="_blank">
                                The dynamic interplay between acute psychosocial stress, emotion and autobiographical memory
                            </a>
                        </cite>
                    </footer>
                </blockquote>
            </li>
            <li class="mb-3">
                <blockquote class="blockquote">
                    <p class="mb-0">
                        "Need another reminder to eat your fruits and vegetables? Doing so might lower your risk of memory loss, according to a study published online Nov. 21, 2018, by Neurology. The study looked at almost 28,000 men, average age 51, who filled out questionnaires every four years for 20 years about how many servings of fruits, vegetables, and other foods they ate each day. The participants also took tests of their thinking and memory skills at least four years before the end of the study, when the average age was 73."
                    </p>
                    <footer class="blockquote-footer">
                        <cite title="Source Title">
                            <a href="https://www.health.harvard.edu/mind-and-mood/eating-more-fruits-and-vegetables-may-help-men-with-memory-loss" target="_blank">
                                Eating more fruits and vegetables may help men with memory loss
                            </a>
                        </cite>
                    </footer>
                </blockquote>
            </li>
        </ol>
    </div>
{% endblock %}

{% block landing_page_title %}
    5 ways to improve memory
{% endblock %}

{% block title %}
    {{ parent() }} - 5 ways to improve memory
{% endblock %}
