{% extends 'landing_page_layout.html.twig' %}

{% block landing_page_content %}
    <div class="lead">
        <ol>
            <li class="mb-3">
                <blockquote class="blockquote">
                    <p class="mb-0">
                        "You are more likely to remember something if you read it out loud, a study from the University of Waterloo has found. A recent Waterloo study found that speaking text aloud helps to get words into long-term memory. Dubbed the "production effect," the study determined that it is the dual action of speaking and hearing oneself that has the most beneficial impact on memory."
                    </p>
                    <footer class="blockquote-footer">
                        <cite title="Source Title">
                            <a href="https://www.sciencedaily.com/releases/2017/12/171201090940.htm" target="_blank">
                                Reading information aloud to yourself improves memory of materials
                            </a>
                        </cite>
                    </footer>
                </blockquote>
            </li>
            <li class="mb-3">
                <blockquote class="blockquote">
                    <p class="mb-0">
                        "New research by Pam Mueller and Daniel Oppenheimer demonstrates that students who write out their notes on paper actually learn more.  Across three experiments, Mueller and Oppenheimer had students take notes in a classroom setting and then tested students on their memory for factual detail, their conceptual understanding of the material, and their ability to synthesize and generalize the information.  Half of the students were instructed to take notes with a laptop, and the other half were instructed to write the notes out by hand.  As in other studies, students who used laptops took more notes.  In each study, however, those who wrote out their notes by hand had a stronger conceptual understanding and were more successful in applying and integrating the material than those who used took notes with their laptops."
                    </p>
                    <footer class="blockquote-footer">
                        <cite title="Source Title">
                            <a href="https://www.scientificamerican.com/article/a-learning-secret-don-t-take-notes-with-a-laptop/" target="_blank">
                                Don't take notes with a laptop
                            </a>
                        </cite>
                    </footer>
                </blockquote>
            </li>
            <li class="mb-3">
                <blockquote class="blockquote">
                    <p class="mb-0">
                        "When we want to learn something well, studying the information or practicing the task just once is almost always inadequate. Reviewing the information or practicing at the right time is critical for durable learning. Distributed practice refers to reviews that take place some time after the original learning event, as opposed to reviews that occur immediately following the original learning event (termed massed practice)."
                    </p>
                    <footer class="blockquote-footer">
                        <cite title="Source Title">
                            <a href="https://digitalpromise.org/2019/05/08/ask-the-cognitive-scientist-distributed-practice/" target="_blank">
                                Distributed practice
                            </a>
                        </cite>
                    </footer>
                </blockquote>
            </li>
            <li class="mb-3">
                <blockquote class="blockquote">
                    <p class="mb-0">
                        "First, the longer the delay between studying and testing, the bigger the advantage for studying by testing rather than traditional studying.  When the test happens immediately, then there is no big difference between the two types of studying.  When the test happens days or weeks later, though, there is a big difference between these conditions. In addition, the harder the test, the bigger the advantage of studying by testing over studying in the traditional way.  If the test questions can be answered just by recognizing the correct answer, then there is less of a difference between the types of studying than if the test questions require the student to construct an answer.  That is, studying by testing has a bigger advantage over traditional testing for essay questions than for multiple choice tests."
                    </p>
                    <footer class="blockquote-footer">
                        <cite title="Source Title">
                            <a href="https://www.psychologytoday.com/us/blog/ulterior-motives/201108/test-yourself-learn-better" target="_blank">
                                Test yourself to learn better
                            </a>
                        </cite>
                    </footer>
                </blockquote>
            </li>
            <li class="mb-3">
                <blockquote class="blockquote">
                    <p class="mb-0">
                        "When practicing and learning a new skill, making slight changes during repeat practice sessions may help people master the skill faster than practicing the task in precisely the same way, Johns Hopkins researchers report. In a study of 86 healthy volunteers asked to learn a computer-based motor skill, those who quickly adjusted to a modified practice session the second time around performed better than when repeating their original task, the researchers found. The results support the idea that a process called reconsolidation, in which existing memories are recalled and modified with new knowledge, plays a key role in the strengthening of motor skills, says senior study author Pablo A. Celnik, M.D., professor of physical medicine and rehabilitation at the Johns Hopkins University School of Medicine."
                    </p>
                    <footer class="blockquote-footer">
                        <cite title="Source Title">
                            <a href="https://www.hopkinsmedicine.org/news/media/releases/want_to_learn_a_new_skill_faster_change_up_your_practice_sessions" target="_blank">
                                Change up your practice sessions
                            </a>
                        </cite>
                    </footer>
                </blockquote>
            </li>
            <li class="mb-3">
                <blockquote class="blockquote">
                    <p class="mb-0">
                        "The health advantages of high-intensity exercise are widely known but new research from McMaster University points to another major benefit: better memory. The findings could have implications for an aging population which is grappling with the growing problem of catastrophic diseases such as dementia and Alzheimer's. Scientists have found that six weeks of intense exercise -- short bouts of interval training over the course of 20 minutes -- showed significant improvements in what is known as high-interference memory, which, for example, allows us to distinguish our car from another of the same make and model."
                    </p>
                    <footer class="blockquote-footer">
                        <cite title="Source Title">
                            <a href="https://www.sciencedaily.com/releases/2017/11/171122103555.htm" target="_blank">
                                High-intensity exercise boosts memory
                            </a>
                        </cite>
                    </footer>
                </blockquote>
            </li>
            <li class="mb-3">
                <blockquote class="blockquote">
                    <p class="mb-0">
                        "Evidence indicates that sleep after learning is critical for the subsequent consolidation of human memory. Whether sleep before learning is equally essential for the initial formation of new memories, however, remains an open question. We report that a single night of sleep deprivation produces a significant deficit in hippocampal activity during episodic memory encoding, resulting in worse subsequent retention. Furthermore, these hippocampal impairments instantiate a different pattern of functional connectivity in basic alertness networks of the brainstem and thalamus. We also find that unique prefrontal regions predict the success of encoding for sleep-deprived individuals relative to those who have slept normally. These results demonstrate that an absence of prior sleep substantially compromises the neural and behavioral capacity for committing new experiences to memory. It therefore appears that sleep before learning is critical in preparing the human brain for next-day memory formation-a worrying finding considering society's increasing erosion of sleep time."
                    </p>
                    <footer class="blockquote-footer">
                        <cite title="Source Title">
                            <a href="https://pubmed.ncbi.nlm.nih.gov/17293859/" target="_blank">
                                Get more sleep
                            </a>
                        </cite>
                    </footer>
                </blockquote>
            </li>
        </ol>
    </div>
{% endblock %}

{% block landing_page_title %}
    7 quick and easy ways to learn faster
{% endblock %}

{% block title %}
    {{ parent() }} - 7 quick and easy ways to learn faster
{% endblock %}
