<p>Hello,</p>
<p>I would like to invite you to <a href="https://routines365.com">Routines365</a>.</p>
<p>Please visit the following url to <a href="{{ path('security_register', {'referrer_code': referrer_code}) }}">register</a></p>
<p>Best regards</p>
