{% extends 'email_layout.html.twig' %}

{% block content %}
    <container>
        <row>
            {{ include('email/_start.txt.twig') }}
            <br><br>
            We would like to ask you for your <a href="{{ url('frontend_testimonial_new') }}">testimonial</a> about Routines365.<br><br>
            Please share your opinion about our system.<br><br>
            Thanks,<br>
            Routines365 Team
        </row>
    </container>
{% endblock %}
