{% extends 'email_layout.html.twig' %}

{% block content %}
    <container>
        <row>
            {{ include('email/_start.txt.twig') }}
            <br><br>
            To reset your password, please visit the following <a href="{{ url('security_reset_password', {token: reset_token.token}) }}">link</a>.<br><br>
            This link will expire in {{ token_lifetime|date('g') }} hour(s).<br><br>
            Thanks,<br>
            Routines365 Team
        </row>
    </container>
{% endblock %}
